
<div class="card text-white bg-secondary"
     [ngbPopover]="storyButtonPalette"
     popoverClass="editable-user-story-popover"
     placement="bottom">

  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between">

      <div class="d-flex">
        <editable-text-box class="d-flex align-items-center"
                           [(text)]="story.title" (updatedChange)="onFieldUpdate(0,$event)"></editable-text-box>
      </div>
    </h5>

    <p class="card-text">
      <editable-priority class="story-priority-icon"
                         (updated-change)="onFieldUpdate(4,$event)"
                         [onRevert]="priorityRevertTrigger"
                         [(priority)]="story.priority">
      </editable-priority>&nbsp;
      As
      <editable-text-box [(text)]="story.storyUser.name" (updatedChange)="onFieldUpdate(1,$event)"></editable-text-box>
      I Want
      <editable-text-box [(text)]="story.storyFeature" (updatedChange)="onFieldUpdate(2,$event)"></editable-text-box>
      So That I Can
      <editable-text-box [(text)]="story.storyBenefit" (updatedChange)="onFieldUpdate(3,$event)"></editable-text-box>
    </p>
    <issue-fold-box [story]="story" ></issue-fold-box>
  </div>
</div>


<message-box
  caption="Please verify and update details of suggested Issue to be sent to issue manager:"
  reject-button="Cancel"
  accept-button="Create"
  [show-hook]="newIssueForm"
  (accepted)="onNewIssueAccepted()"
  title="Create new Issue">

  <div class="container">

    <hr style="padding-right: 10px;padding-left: 10px;">
    <div class="row">
      <span class="col-sm-12 col-md-3 not-form-label" >Issue Title</span>
      <input class="col-sm-12 col-md-9 form-control" style="width: auto" id="txtTitle" type="text" [(ngModel)]="this.newIssue.title">
    </div>

    <div class="row">
      <span class="col-sm-12 col-md-3 not-form-label" >User Story</span>
      <span class="col-sm-12 col-md-9 form-control" style="width: auto" id="spnUserStory" type="text">{{this.newIssue.userStory}}</span>
    </div>
    <div class="row">
      <span class="col-sm-12 col-md-3 not-form-label" >Priority</span>
      <div class="col-sm-12 col-md-9 form-control" style="width: auto">
        <editable-priority [priority]="newIssue.priority"
                            (priorityChange)="newIssue.priority=$event"
                            style="cursor: pointer">
        </editable-priority> &nbsp;
        <span>{{newIssue.priority.name}}</span>
      </div>

    </div>

    <div class="row">
      <label class="col-sm-12 col-md-4 form-label" for="txtDescription">Issue Description</label>
      <textarea class="col-sm-12 col-md-4 form-control" id="txtDescription" type="text" [(ngModel)]="this.newIssue.description"></textarea>
    </div>

  </div>

</message-box>

<ng-template #storyButtonPalette>

      <button *ngIf="modelUpdate || forceEnableSync" class="btn btn-success btn-icon"
              (click)="onSyncClick()"
              ngbTooltip="Sync Up Changes" >
              <span class="material-symbols-outlined">
                publish
              </span>
      </button>
      <button *ngIf="modelUpdate" class="btn btn-warning btn-icon"
              (click)="onRevertClick()"
              ngbTooltip="Revert Changes" >
              <span class="material-symbols-outlined">
                undo
              </span>
      </button>
      <button class="btn btn-info btn-icon"
              (click)="onNewIssueButtonClicked()"
              ngbTooltip="Create New Issue For This UserStory" >
              <span class="material-symbols-outlined">
                add_box
              </span>
      </button>
      <button class="btn btn-danger btn-icon"
              (click)="onDeleteClick()"
              ngbTooltip="Delete User Story" >
              <span class="material-symbols-outlined">
                delete
              </span>
      </button>

</ng-template>
