
*.btn.btn-icon {
  margin: 0.3em;
  font-size: 20px;
  padding: 2px;
  width: 32px;
  height: 32px;
  opacity: 0.75;
}
.story-priority-icon{
  cursor: pointer;

  border-radius: 5px;
  border: none;
  padding: 3px 6px 4px 6px;
  align-items: center;
  vertical-align: middle;
}
.story-priority-icon:hover{
  transform: scale(1.6);
  box-shadow: 0 4px 23px #00000038, 0 4px 14px #00000026;
}


span.not-form-label{
  padding-top: 5px;
  text-align: end;
}

.form-control{
  margin-top:2px;
}
