<div class="card text-white bg-secondary">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between">

      <div class="d-flex">
        <editable-text-box class="d-flex align-items-center"
                           [(text)]="story.title" (updatedChange)="onFieldUpdate(0,$event)"></editable-text-box>
      </div>
      <div class="d-flex align-items-end">
        <button *ngIf="modelUpdate || forceEnableSync" class="btn btn-success btn-icon"
                (click)="onSyncClick()"
                ngbTooltip="Sync Up Changes" >
              <span class="material-symbols-outlined">
                publish
              </span>
        </button>
        <button *ngIf="modelUpdate" class="btn btn-warning btn-icon"
                (click)="onRevertClick()"
                ngbTooltip="Revert Changes" >
              <span class="material-symbols-outlined">
                undo
              </span>
        </button>
        <button class="btn btn-info btn-icon"
                (click)="onNewIssueClicked()"
                ngbTooltip="Create New Issue For This UserStory" >
              <span class="material-symbols-outlined">
                add_box
              </span>
        </button>
        <button class="btn btn-danger btn-icon"
                (click)="onDeleteClick()"
                ngbTooltip="Delete User Story" >
              <span class="material-symbols-outlined">
                delete
              </span>
        </button>
      </div>
    </h5>
    <p class="card-text">
      <editable-priority class="story-priority-icon"
                         (updated-change)="onFieldUpdate(4,$event)"
                         [onRevert]="priorityRevertTrigger"
                         [(priority)]="story.priority">
      </editable-priority>&nbsp;
      As
      <editable-text-box [(text)]="story.storyUser.name" (updatedChange)="onFieldUpdate(1,$event)"></editable-text-box>
      I Want
      <editable-text-box [(text)]="story.storyFeature" (updatedChange)="onFieldUpdate(2,$event)"></editable-text-box>
      So That I Can
      <editable-text-box [(text)]="story.storyBenefit" (updatedChange)="onFieldUpdate(3,$event)"></editable-text-box>
    </p>
    <issue-fold-box [story]="story" ></issue-fold-box>
  </div>
</div>
