<div class="row row-issue d-flex" ngbTooltip="{{issue.description}}">

  <user-view  class="icn-issue item-issue-overlap"
              *ngFor="let user of issue.assignees"
              [user]="user" size="16"></user-view>

  <img class="icn-issue" src="assets/images/priorities/priority-{{issue.priority.name.toLowerCase()}}.png"
       alt="{{issue.priority.name}}" >
  <img class="icn-issue" src="{{issue.issueType.iconUrl}}" alt="{{issue.issueType.name}}">
  <a class="txt-issue text-issue" href="{{issue.issueReferenceLink}}">{{caption(issue)}}</a>
</div>
