
.row-issue{
  border-top: lightslategray solid 1px;
  padding-top: 5px;
}

*.icn-issue{
  width: 16px;
  height: 16px;
  flex-basis: fit-content;
  padding: 0px;
  margin: 2px 2px 2px 2px;
}

.txt-issue{
  width: auto;
  padding: 0px;
  margin: 0px 2px;
  font-size: 0.9em;
  color: rgb(33 34 53);
  text-decoration: none;
}
jira-user-view.icn-issue{
  display: inline;
  width: fit-content;
  margin: 0px;
  padding: 0px;
}

user-view.icn-issue.item-issue-overlap{
  margin-left: -10px;
}

user-view.icn-issue.item-issue-overlap:first-child{
  margin-left: 2px;
}
