
.editable-label{
  cursor: pointer;
}


.editable-input{
  background-color: inherit;
  color: inherit;
  padding: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid;
  width: fit-content;
}
