
<div class="story-map-header rounded">
  <h4>{{project.name}}</h4>
  <h6>{{project.description}}</h6>
</div>

<div class="container">

  <div class="row">

    <div class="col-4" *ngFor="let goal of project.goals">

    <sticky-card [card]="goal" card-type-class="sticky-card-bg-goal"
                 [ngbPopover]="stickyCardEditor"
                 positionTarget="bottom"
                 popoverClass="sticky-card-editor-popover"
                 (hidden)="popoverUnselect()"
                 autoClose="outside"
                 (click)="selectGoal(goal)">
    </sticky-card>

    <div class="row">

      <div class="col" *ngFor="let step of goal.steps">

        <sticky-card [card]="step" card-type-class="sticky-card-bg-step"
                     [ngbPopover]="stickyCardEditor"
                     popoverClass="sticky-card-editor-popover"
                     autoClose="outside"
                     positionTarget="bottom"
                     (hidden)="popoverUnselect()"
                     (click)="selectStep(step)">
        </sticky-card>


        <sticky-card [card]="task"
                     *ngFor="let task of step.tasks"
                     [ngbPopover]="stickyCardEditor"
                     autoClose="outside"
                     (hidden)="popoverUnselect()"
                     positionTarget="bottom"
                     (click)="selectTask(task)"
                     popoverClass="sticky-card-editor-popover"
                     card-type-class="sticky-card-bg-task"></sticky-card>

      </div>

    </div>

  </div>

    <button type="button" ngbtooltip="Add New Goal"
            class="btn btn-add-goal btn-round-sm material-symbols-outlined sticky-bottom ng-tns-c36-1"
            (click)="addGoalClicked()">
      add
    </button>

  </div>

</div>


<ng-template #stickyCardEditor>
<sticky-card-editor [card]="selectedCard"
                    [parents]="selectedCardParents"
                    child-type-name="{{selectedCardChildName}}"
                    (add-child-clicked)="selectedAddChild($event)"
                    (delete-clicked)="selectedDelete($event)"
                    (parent-changed)="selectedParentChange($event)">

</sticky-card-editor>
</ng-template>
