
<div class="story-map-header rounded">
  <h4>{{project.name}}</h4>
  <h6>{{project.description}}</h6>
</div>

<div class="container">

  <div class="row">

    <div class="col-4" *ngFor="let goal of project.goals">

    <sticky-card [card]="goal" card-type-class="sticky-card-bg-goal"></sticky-card>

    <div class="row">

      <div class="col" *ngFor="let step of goal.steps">

        <sticky-card [card]="step" card-type-class="sticky-card-bg-step"></sticky-card>


        <sticky-card [card]="task"
                     *ngFor="let task of step.tasks"
                     card-type-class="sticky-card-bg-task"></sticky-card>

      </div>

    </div>

  </div>

    <button type="button" ngbtooltip="Add New Goal"
            class="btn btn-add-goal btn-round-sm material-symbols-outlined sticky-bottom ng-tns-c36-1"
            (click)="addGoalClicked()">
      add
    </button>

  </div>

</div>



<sticky-card-editor [card]="project.goals[0].steps[0]"
                    [parents]="project.goals"
                    child-type-name="Task"
                    >

</sticky-card-editor>
