
body{
  background-color:  #3d3a3e;
}
.nav-user-profile{
  margin-right: 48px;
}


:host ::ng-deep .user-active {
  outline: #66491c double thick;
}



:host ::ng-deep .priority-highest{
  background-color: #efe5a3;
}

:host ::ng-deep .priority-high{
  background-color: #efe5bd;
}


:host ::ng-deep .priority-medium{
  background-color: #dbd5a9;
}

:host ::ng-deep .priority-low{
  background-color: #beb997;
}

:host ::ng-deep .priority-lowest{
  background-color: #a8a394;
  color: black;
}
