<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a class="navbar-brand" href="#">
    <waiting-logo></waiting-logo>
    &nbsp;&nbsp;
    <span class="nav-item">Ludwig - User Story - Tool</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
<!--      btn btn-outline-light btn-light text-secondary-->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/shoe-box" routerLinkActive="active" ariaCurrentWhenActive="page">Shoe Box!</a>
      </li>

      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Export</a>
        <div ngbDropdownMenu>
          <a href="export/csv/stories" ngbDropdownItem>Export User Stories as CSV</a>
          <a href="export/json/stories" ngbDropdownItem>Export User Stories as Json</a>
          <a href="export/json/database"ngbDropdownItem>Export Database as Json</a>
<!--          <div class="dropdown-divider"></div>-->
<!--          <button ngbDropdownItem>Separated link</button>-->
        </div>
      </li>

    </ul>
  </div>

  <jira-user-view *ngIf="loggedInUser" class="nav-user-profile"
                  size="48" active-user-class="jirauser-active"
                  [user]="loggedInUser"
  ></jira-user-view>

</nav>





<router-outlet></router-outlet>



