
body{
  background-color:  #3d3a3e;
}
.nav-user-profile{
  margin-right: 48px;
}


:host ::ng-deep .user-active {
  outline: #66491c double thick;
}



:host ::ng-deep .priority-highest{
  background-color: #f4e685;
}

:host ::ng-deep .priority-high{
  background-color: #ddd078;
}


:host ::ng-deep .priority-medium{
  background-color: #c2b76b;
}

:host ::ng-deep .priority-low{
  background-color: #aba373;
}

:host ::ng-deep .priority-lowest{
  background-color: #989376;
  color: black;
}
