

<div class="container notfound-container">

  <div class="row justify-content-center">

    <span class="quot-inline material-symbols-outlined text-light">
      format_quote
    </span>
    <span class="quot-inline blockquote display-4 text-light" >To Write A Wrong URL, is insignificant,</span>
    <span class="quot-inline blockquote display-4 text-light">To View A Non-Existing Page, Is Impossible!</span>
    <span class="quot-inline material-symbols-outlined text-light">
      format_quote
    </span>
    <div class="notfound-img-container">

      <img src="assets/images/music-ludwig-van-beethoven.png" alt="Ludwig">

    </div>
  </div>
</div>



