
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-info col-2" (click)="createStory()">Create Story</button>
  </div>
  <div class="row">
    <div *ngFor="let story of stories" class="card text-white bg-secondary col-4">
      <div class="container">
        <div class="row">
          <button class="btn btn-info btn-icon"  (click)="edit(story)">
        <span class="material-symbols-outlined">
          edit_square
        </span>
          </button>
          <button class="btn btn-danger btn-icon"  (click)="edit(story)">
        <span class="material-symbols-outlined">
          delete
        </span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{story.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{story.storyFeature}}</h6>
        <p class="card-text">{{caption(story)}}</p>
        <issue-fold-box [story]="story" ></issue-fold-box>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{editorTitle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="txtTitle">Story Title</label>
        <div class="input-group">
          <input class="w-100" type="text" name="txtTitle" id="txtTitle" [(ngModel)]="editingStory.title">
        </div>
        <label for="txtUser">User</label>
        <div class="input-group">
          <input class="w-100" type="text" name="txtUser" id="txtUser" [(ngModel)]="editingStory.storyUser.name">
        </div>
        <label for="txtFeature">Feature</label>
        <div class="input-group">
          <input class="w-100" type="text" name="txtFeature" id="txtFeature" [(ngModel)]="editingStory.storyFeature">
        </div>
        <label for="txtBenefit">Benefit</label>
        <div class="input-group">
          <input class="w-100" type="text" name="txtBenefit" id="txtBenefit" [(ngModel)]="editingStory.storyBenefit">
        </div>
      </div>
    </form>
    <label for="storyPreview"></label>
    <span id="storyPreview" class="card bg-info">{{caption(editingStory)}}</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
