

  <disabler>
    <button type="button"
            class="btn btn-info text-light btn-round material-symbols-outlined sticky-bottom"
            ngbTooltip="Create new User Story"
            (click)="createStory()">add
    </button>
    <div class="container">



  <div class="row">
    <collapsible
      *ngFor="let story of stories" class="col-3"
      [collapsed]="true"
      collapse-button-classes="text-light"
      alternative-text="{{caption(story)}}">
      <editable-user-story [story]="story"
                           (syncStory)="saveUserStory($event)"
                           (deleteStory)="askDeletingStory($event)"
                           [force-enable-sync]="story.id<=0">
      </editable-user-story>
    </collapsible>
  </div>
</div>

  </disabler>

  <message-box  title="Deleting {{deletingStory.title}}"
                caption="Are you sure you wan to delete user story:"
                (accepted)="deleteStory(deletingStory)"
                [negative-reject]="false"
                [show-hook]="messageBoxHook">
    <div><b>{{caption(deletingStory)}}?</b></div>
  </message-box>
