

<disabler *ngIf="configurationItems && configurationItems.length>0">


  <div class="container card card-body bg-secondary">

    <div class="row d-flex justify-content-center alert alert-secondary">
      <span class="fw-bold" style="width:auto"> Ludwig - Configurations</span>
    </div>

    <div class="row" >

      <editable-configuration-item
        *ngFor="let item of configurationItems"
        class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4"
        [configuration-item]="item">

      </editable-configuration-item>

    </div>

    <div *ngIf="receivedMessage && receivedMessage.lines && receivedMessage.lines.length>0"
         class="row alert alert-danger">

      <div *ngFor="let line of receivedMessage.lines" class="d-flex configuration-message">
      <span class="material-symbols-outlined">
        error
      </span>
        {{line}}
      </div>

    </div>

    <div class="row d-flex justify-content-center">

      <button type="button" class="btn btn-info" (click)="onSaveClick()" style="width:auto">Save Configurations</button>

    </div>

  </div>


</disabler>

<access-denied page-title="Configuration" [allowed-role-names]="['administrator']">

</access-denied>
