<div *ngIf="parents.length > 1 " class="width-greedy">

  <label for="selParents" class="settle-input">Move Under: </label>
  <toggle-drop-select [items]="parents" id="selParents"
                      (on-select)="onParentSelected($event)"
                      [ngModel]="parentId"
                      [areEqual]="isValueEqualToListItem"
                      toggle-class="sel-parents-toggle"
                      drop-tray-class="sel-parents-tray"
                      drop-item-class="sel-parents-item"
                       [captioner]="cardCaptioner">
  </toggle-drop-select>

</div>

<div>
  <input class="settle-input width-greedy" type="text" id="txtTitle" [(ngModel)]="card.title">
</div>
<button class="btn btn-stack btn-outline-warning width-greedy"
        (click)="card.description=''"> Clear Description</button>
<textarea id="txtDescription" class="settle-input width-greedy"
          placeholder="Click to write descriptions..."
          [(ngModel)]="card.description"></textarea>

<button *ngIf="childTypeName" class="btn btn-stack btn-success width-greedy"
        (click)="addChildClicked.emit(card)"> Add {{childTypeName}}</button>

<button class="btn btn-stack btn-danger width-greedy"
        (click)="deleteClicked.emit(card)"> Delete</button>
