



<div *ngIf="visible()" class="d-flex justify-content-center"  style="position: relative;width: 100%;height: 100%">


  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Access Denied</div>
    <div class="card-body text-dark">
      <h5 class="card-title">{{pageTitle}}</h5>
      <p class="card-text">
        As a {{userType}}, you can not access this page.
        please login as a user with proper access-right to
        access this content.
      </p>
    </div>
  </div>


</div>



