
<div #meView>
  <div *ngIf="collapsed" class="alert alert-secondary collapsible-alternative {{labelClass}} {{contentClass}}" ngbTooltip="Click to expand" (click)="toggle()">
    {{alternativeText}}
  </div>
  <div *ngIf="!collapsed" class="{{contentClass}}">
    <ng-content></ng-content>
    <div (click)="toggle()" class="collapsible-collapse d-flex justify-content-center">
      <span class="material-symbols-outlined {{colButCss}}">
                expand_less
      </span>
    </div>
  </div>
</div>
