
<div #meView>
  <div *ngIf="collapsed" class="alert alert-secondary collapsible-alternative {{labelClass}} {{contentClass}}"
       ngbTooltip="Click to expand" (click)="toggle()" style="position: relative">
    {{alternativeText}}
    <img *ngIf="collapseOverlay" class="img-strike-through {{collapseOverlayImageClass}}"
         src="{{collapseOverlayImage}}" alt="Done" >
  </div>
  <div *ngIf="!collapsed" class="{{contentClass}}">
    <ng-content></ng-content>
    <div (click)="toggle()" class="collapsible-collapse d-flex justify-content-center">
      <span class="material-symbols-outlined {{colButCss}}">
                expand_less
      </span>
    </div>
  </div>
</div>
